<px-card id="home-page">
  <article role="article">
    <h2 class="u-mt0 u-pt+">GE Predix Enabled Train</h2>
    <div class=flex>
      <p>Remote monitoring and diagnostics (RM&D) applications are used in industries to monitor machines to report irregularities in operation and analyze patterns of behavior and performance over time. Monitoring and diagnostic applications use a set of algorithms, processes, and tools to monitor the health of an asset and detect faults before they turn into failures.</p>
    </div>

    <p>
        Functionalities:
    <div class="flex">
        <div class="u-1/2">
            <li>Visualize GE’s Digital Industrial Strategy and Transformation</li>
            <li>Demonstrate GE’s Cloud pased Predix platform</li>
            <li>Ingest data into time series</li>
            <li>Run N-Scale DCC enabled trains autonomously</li>
        </div>
        <div class="u-1/2">
            <li>Use Predix Contextual Dashboard to browse assets</li>
            <li>Use Predix widgets - Data Grid, and Time-series</li>
            <li>Integrate Predix cloud services - Asset, Time Series, Dashboard Views</li>
            <li>Visualize Predix Machine live data</li>
        </div>
    </div>

</px-card>
