<px-context-browser
    initial-contexts='{{initialContexts}}'
    handlers="ngScope:handlers"
    opened-item-name="Select Assets">
</px-context-browser>

<px-dashboard selected-deck="{{selectedDeck}}" context="{{context}}"></px-dashboard>

<px-card
  id="dashboard-description-card"
  header-text="Train Monitoring and Diagnostics">


  <div class="layout">
    <div class="layout__item u-3/4">

        <p>Click 'Select Assets' above, then drill down to find equipment and view data.</p>


        <p style="font-size:42px;">Predix Enabled Toy Train Dashboard</p>


    </div>


  </div>
  <br/>
  <div style="text-align: center;">
    <img src="images/train.jpg" alt="good train"  width="350px">
  </div>
</px-card>
